<footer id="contact">
  <div class="content-wrap">
    <h2>Contact me:</h2>
    <address>
      <ul class="contact-list">
        <li><a href="mailto:alberto.obando98@gmail.com">alberto.obando98@gmail.com</a></li>
        <li><a href="https://albertoobando.com">albertoobando.com</a></li>
        <li><a href="https://www.linkedin.com/in/alberto-obando-zuniga/">LinkedIn</a></li>
      </ul>
    </address>
  </div>
</footer>