<header role="banner">
  <div class="content-wrap">
    <nav aria-label="Main navigation">
      <ul class="nav-list">
        <li><a href="#projects">Projects</a></li>
        <li><a href="#work-experience">Experience</a></li>
        <li><a href="#education">Education</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>

    <h1>Alberto Obando Zúñiga</h1>
    <h2>Computer Science Engineer</h2>

    <p>As a developer, I bring clients' desires to life and fulfill their requirements.</p>
  </div>
</header>